[Unit]
Description=API 2 Python Flask Service (Hoja de Trabajo 2)
After=network.target

[Service]
Type=simple
User=azureuser
WorkingDirectory=/home/azureuser/HT2/api-python
ExecStart=/home/azureuser/HT2/api-python/venv/bin/gunicorn -w 2 -b 0.0.0.0:3000 app:app
Restart=always
RestartSec=5
# Permite enlazar a puertos < 1024 (como puerto 80) si se requiere sin ser root
AmbientCapabilities=CAP_NET_BIND_SERVICE

[Install]
WantedBy=multi-user.target

